.wrapper

  = render "shared/side_bar"

  .chat
    .header
      .left-header
        .left-header__name
          = @group.name
        %ul.left-header__members
          %li メンバー：
          %li
            = current_user.nickname
          - @group.users.each do |user|
            %li
              = user.nickname unless user == current_user

      .right-header
        .right-header__edit
          = link_to "編集", edit_group_path(@group), class: "btn"
          //@groupはmessagesコントローラで定義した@groupである


    .messages
      - @messages.each do |message|
        .message
          .message-top
            .message-top__name
              = message.user.nickname
            .message-top__date
              = message.created_at.strftime("%Y/%m/%d %H:%M")
          .message-bottom
            - if message.content.present?
              .message-bottom__text
                = message.content
            = image_tag message.image.url, class: "message-bottom__image" if message.image.present?



    = form_for([@group, @message], method: :POST, html: {class: "message-form"}) do |f|
      = f.text_field :content, placeholder: "Type a Message", class: "message-form__input"
      .message-form__mask
        = f.label :image do
          = fa_icon "picture-o", class: "icon"
          = f.file_field :image, class: "hidden"
      = f.submit :送信, class: "message-form__submit"























